html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #272236;
}
.App {
  display: grid;
  /* grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 10% 1fr 10%; */
  grid-template-areas:
    "header header header"
    "route route route"
    "footer footer footer";
  width: 100vw;
}
