html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #272236;
  width: 100%;
}
.App {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header header"
    "route route route"
    "footer footer footer";
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .App {
  }
}
