html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #272236;
  overflow-x: hidden;
}
.App {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 10% auto 10%;
}
